<form method="post">
	<div class="row">
		<div class="medium-6 medium-offset-3 columns">
			<h1>Login</h1>

			<div>
				<label>
					Email:
					<input type="text" name="email"/>
				</label>
			</div>
			<div>
				<label>
					Password:
					<input type="password" name="password"/>
				</label>
			</div>

			<div>
				<input class="button expand" type="submit" value="Log In"/>
			</div>

			<div class="">
				Not got an account? <a class="" href="/auth/signup">Sign Up</a>
			</div>
		</div>
	</div>
</form>