<div class="row">
	<div class="small-6 columns">
		<a href="/timesheet" class="button expand">Timesheet</a>
	</div>
	<div class="small-6 columns">
		<a href="/account" class="button expand">Account</a>
	</div>
</div>