<h1>Login</h1>

<form method="post">
	<div>
		<label>Email:</label>
		<input type="text" name="email"/>
	</div>
	<div>
		<label>Password:</label>
		<input type="password" name="password"/>
	</div>
	<div class="row">
		<div class="small-6 columns">
			<a class="button" href="/auth/signup">Sign Up</a>
		</div>

		<div class="small-6 columns text-right">
			<input class="button" type="submit" value="Log In"/>
		</div>
	</div>

</form>