.time-entry {
  position: relative;

  padding: .5em .75em;

  h2 {
    font-size: 1.1em;
  }

  .project-label {
    font-size: 0.8em;
    text-transform: uppercase;
  }

  .hours {
    font-size: 2em;
    text-align: right;
  }
}