<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel='stylesheet' href='/stylesheets/app.css' />
	<script src="/js/modernizr.js"></script>
</head>
<body>
{{> top_nav }}


<div class="row">
	<div class="small-12 columns">
		{{{ yield }}}
	</div>
</div>


<script src="/js/app.js"></script>
</body>
</html>