<!DOCTYPE html>
<html>
<head>
	<title>{{#page.title}}{{page.title}} | {{/page.title}}{{ site.title }}</title>
	<link rel='stylesheet' href='/stylesheets/app.css' />
	<script src="/js/modernizr.js"></script>
</head>
<body>
{{> top_nav }}

<div class="row">
	<div class="small-12 columns">
		{{#message}}
			<div data-alert class="alert-box">
				{{ message }}
				<a href="#" class="close">&times;</a>
			</div>

		{{/message}}

		{{{ yield }}}
	</div>
</div>


<script src="/js/app.js"></script>
</body>
</html>