<nav class="row">
	<div class="small-2 columns">
		<a class="button secondary expand" href="{{ previousUrl }}">Prev</a>
	</div>

	<div class="small-8 columns text-center">
		<a class="button secondary expand" href="#">{{ date }}</a>
	</div>

	<div class="small-2 columns text-right">
		<a class="button secondary expand" href="{{ nextUrl }}">Next</a>
	</div>
</nav>

<h1 class="text-center">Timesheet</h1>

{{#timeEntries}}
	<div class="row">
		<div class="small-12 columns">
			<dl class="horizontal">
				<dt>ID:</dt>
				<dd>{{ id }}</dd>

				<dt>Project:</dt>
				<dd>{{ project.id }}: {{ project.name }}</dd>

				<dt>Issue:</dt>
				<dd>{{ issue.id }}</dd>

				<dt>User:</dt>
				<dd>{{ user.id }}: {{ user.name }}</dd>

				<dt>Activity:</dt>
				<dd>{{ activity.id }}: {{ activity.name }}</dd>

				<dt>Hours:</dt>
				<dd>{{ hours }}</dd>

				<dt>Comments:</dt>
				<dd>{{ comments }}</dd>
			</dl>
		</div>
	</div>
{{/timeEntries}}
