<nav class="row">
	<div class="small-2 columns">
		<a class="button secondary expand" href="{{ previousUrl }}">Prev</a>
	</div>

	<div class="small-8 columns text-center">
		<a class="button secondary expand" href="#">{{ date }}</a>
	</div>

	<div class="small-2 columns text-right">
		<a class="button secondary expand" href="{{ nextUrl }}">Next</a>
	</div>
</nav>

<h1 class="text-center">Timesheet</h1>

<div class="time-entries">
{{#timeEntries}}
	<div class="row">
		<section class="time-entry small-12 columns"
		         data-id="{{ id }}"
		         data-project-id="{{ project.id }}"
				 data-issue-id="{{ issue.id }}">

			<div class="project" >{{ project.name }}</div>
			<h2>{{ issue.subject }}</h2>

			<span>Hours:</span>
			<span>{{ hours }}</span>

			<span>Comments:</span>
			<span>{{ comments }}</span>

		</section>
	</div>
{{/timeEntries}}
</div>
	<hr>
    <div>
    	
    </div>

